<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORD APP</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand mx-5 px-5 text-primary" href="#">WordApp</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              
            </ul>
            <form class="d-flex" action="{% url 'new-word' %}">
              
              <button class="btn btn-outline-primary mx-5 px-5" type="submit">Add New Word +</button>
            </form>
          </div>
        </div>
      </nav>


    {% block content %}
    <div class="container my-5 pt-5 ">
        <div class="row  my-4">
            <form class="form" method = 'POST' action="{% url 'get-meaning' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label h3 mb-3">Word Input</label>
                    <input type="text" class="form-control mt-3"  placeholder="Enter your word" name = 'word'>
                </div>

               
                <input type="submit" class="form-control btn-primary mt-5" value="Search Word">
                

                
            </form>
            
        </div>
    </div>


    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>
</body>
</html>